JiraSwiftMac.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
JiraSwiftMac.xcodeproj/xcuserdata/bill.xcuserdatad/xcdebugger
JiraSwiftMac.xcodeproj/project.xcworkspace/xcuserdata
JiraSwiftMac.xcodeproj/xcshareddata
